<div class="container">
        <div>
            <h2 style="margin-top: 20px;">Invitations</h2>
            <div class="row" style="box-shadow: 3px 3px 11px -1px rgb(214,219,224);margin-top: 20px;margin-bottom: 20px;">
                <div class="col-4 col-md-2 col-lg-1" style="padding-right: 0;padding-left: 0;">
                    <div style="background: url(&quot;assets/img/mum_face.jpg&quot;) center / cover no-repeat;height: 100%;min-height: 85px;"></div>
                </div>
                <div class="col-8 col-md-10 col-lg-11 d-md-flex align-items-md-center">
                    <div class="row" style="width: 100%;">
                        <div class="col-12 col-md-8">
                            <div style="margin-top: 10px;">
                                <p style="padding-top: 0px;padding-right: 15px;">Marouane Kamal veux vous inviter à une activité</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-md-flex align-items-md-center" style="padding-left: 15px;"><button class="btn btn-outline-primary btn-sm" type="button" style="height: 35px;margin-top: 5px;margin-bottom: 10px;">Accepter</button><button class="btn btn-outline-primary btn-sm" type="button" style="height: 35px;margin-bottom: 10px;margin-left: 5px;margin-top: 5px;">Refuser</button></div>
                    </div>
                </div>
            </div>
            <h2>Demandes</h2>
            <div class="row" style="box-shadow: 3px 3px 11px -1px rgb(214,219,224);margin-top: 20px;margin-bottom: 20px;">
                <div class="col-4 col-md-2 col-lg-1" style="padding-right: 0;padding-left: 0;">
                    <div style="background: url(&quot;assets/img/kid2.jpg&quot;) center / cover no-repeat;height: 100%;min-height: 85px;"></div>
                </div>
                <div class="col-8 col-md-10 col-lg-11 d-md-flex align-items-md-center">
                    <div class="row" style="width: 100%;">
                        <div class="col-12 col-md-8">
                            <div style="margin-top: 10px;">
                                <p style="padding-top: 0px;padding-right: 15px;">Vous avez inviter Camil Belkhayat à une activité</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-md-flex align-items-md-center" style="padding-left: 15px;"><button class="btn btn-outline-primary btn-sm" type="button" style="height: 35px;margin-top: 5px;margin-bottom: 10px;">Annuler</button></div>
                    </div>
                </div>
            </div>
            <h2>Copains &amp; copines disponibles</h2>
            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                <div class="col-6 col-md-4"><select class="border rounded border-primary custom-select custom-select-lg"><option value="français" selected="">Français</option><option value="arabe">Arabe</option><option value="espagnol">Espagnol</option></select></div>
                <div class="col-6 col-md-4"><select class="border rounded border-primary custom-select custom-select-lg"><option value="français" selected="">Français</option><option value="arabe">Arabe</option><option value="espagnol">Espagnol</option></select></div>
                <div class="col-6 col-md-4"><select class="border rounded border-primary custom-select custom-select-lg"><option value="français" selected="">Français</option><option value="arabe">Arabe</option><option value="espagnol">Espagnol</option></select></div>
            </div>
        </div>
        <div class="row" style="box-shadow: 3px 3px 11px -1px rgb(214,219,224);margin-top: 20px;margin-bottom: 20px;">
            <div class="col-12 col-md-6" style="background: url(&quot;assets/img/kid1.jpg&quot;) center / cover no-repeat;height: 300px;"></div>
            <div class="col">
                <div style="padding: 10px;">
                    <h3>Marouane Kamal</h3>
                    <h5>8 ans</h5>
                    <h5>Madariss Ibn Mashish</h5>
                    <h5>Français - Arabe - Anglais</h5>
                    <h5>TANGER - Nejma</h5>
                    <p>J'adore les transformers. J'aime bcp le foot, tennis et les bonbons. Je cours très vite aussi donc j'adore faire la course avec mes amis. Je suis un grand fan de pokemons. Mon préféré, c'est Pikachu biensûr !&nbsp;</p><button class="btn btn-primary"
                        type="button">Voir</button></div>
            </div>
        </div>
        <div class="row" style="box-shadow: 3px 3px 11px -1px rgb(214,219,224);margin-top: 20px;margin-bottom: 20px;">
            <div class="col-12 col-md-6" style="height: 300px;background: url(&quot;assets/img/kid2.jpg&quot;) center / cover no-repeat;"></div>
            <div class="col">
                <div style="padding: 10px;">
                    <h3>Camil Belkhayat</h3>
                    <h5>7 ans</h5>
                    <h5>Ecole Adrien Berchet</h5>
                    <h5>Français - Arabe</h5>
                    <h5>TANGER - Nejma</h5>
                    <p>Moi, j'adore le foot. Mon équipe c'est le Real Madrid. J'adore nager et surtout faire des plongeons. J'aime pas trop l'école mais ma maitresse est cool. J'ai plein de voitures avec lesquels on pourrait jouer et imaginer un monde de
                        ouf ! Voila c'est tout.&nbsp;</p><button class="btn btn-primary" type="button">Voir</button></div>
            </div>
        </div>
        <div class="row" style="box-shadow: 3px 3px 11px -1px rgb(214,219,224);margin-top: 20px;margin-bottom: 20px;">
            <div class="col-12 col-md-6" style="height: 300px;background: url(&quot;assets/img/kid3.jpg&quot;) center / cover no-repeat;"></div>
            <div class="col">
                <div style="padding: 10px;">
                    <h3>Sarah Benmoussa</h3>
                    <h5>5 ans</h5>
                    <h5>Ecole du Detroit</h5>
                    <h5>Français - Arabe - Espagnol</h5>
                    <h5>TANGER - Nejma</h5>
                    <p>Coucou les copines. Je vous invite à jouer chez moi avec mes poupées. J'adore faire de la peinture et des tresses aux cheveux de mes barbies. J'ai une belle table rose ou on pourra faire des gouters. Aussi, j'adore la cuisine, ma dada
                        fait les meilleurs cupcakes du monde.&nbsp;</p><button class="btn btn-primary" type="button">Voir</button></div>
            </div>
        </div>
    </div>