<div class="container">
        <h2>Mes enfants</h2><button class="btn btn-outline-primary btn-lg" type="button" style="width: 100%;">Ajouter un enfant&nbsp;😀</button>
        <div class="row" style="box-shadow: 3px 3px 11px -1px rgb(214,219,224);margin-top: 20px;margin-bottom: 20px;height: 200px;">
            <div class="col-4 d-flex justify-content-xl-center" style="background: url(&quot;assets/img/kid2.jpg&quot;) center / cover no-repeat;"></div>
            <div class="col">
                <div style="height: 100%;padding: 10px;">
                    <h3>Marouane Kamal</h3><button class="btn btn-outline-primary" type="button">Editer</button><button class="btn btn-outline-danger" type="button" style="margin-left: 10px;">Supprimer</button>
                    <h5 style="margin-top: 15px;">Etat du profil</h5>
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="box-shadow: 3px 3px 11px -1px rgb(214,219,224);margin-top: 20px;margin-bottom: 20px;height: 200px;">
            <div class="col-4 d-flex justify-content-xl-center" style="background: url(&quot;assets/img/kid1.jpg&quot;) center / cover no-repeat;"></div>
            <div class="col">
                <div style="height: 100%;padding: 10px;">
                    <h3>Imsail Kamal</h3><button class="btn btn-outline-primary" type="button">Editer</button><button class="btn btn-outline-danger" type="button" style="margin-left: 10px;">Supprimer</button>
                    <h5 style="margin-top: 15px;">Etat du profil</h5>
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">25%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-bottom: 20px;"><button class="btn btn-outline-danger btn-lg" type="button">Retour</button></div>
    </div>